.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
}

.bottom, .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.image {
    height: 32vh;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    max-width: 35rem;
    text-align: justify ;
    margin: 10px;
}

.righttext {
    margin-right: 40px;
}
.lefttext {
    margin-left: 40px;
}