.navbar{
    display: flex;
    flex-direction: row;
    height: 100px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top:0;
    z-index: 99;
}

.imgcontainer{
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;
}

.img{
    height: 80%;
}
.left{
    flex:2;
    background-color: white;
}

.right{
    flex:1;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding-right: 10px;
}

.page{
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: rgba(232, 222, 248, 1);
    width: 90px;
    border-radius: 30px;
    padding: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .img{
        height: 3rem;
    }

    .navbar {
        height: 4rem;
    }

    .page {
        font-weight: 600;
        width: 2.2rem;
        padding: 0.8rem;
        font-size: 0.7rem;
    }
}